@import "tailwindcss";

@font-face {
  font-family: 'Galmuri9';
  src: url('/font/Galmuri9.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Galmuri7';
  src: url('/font/Galmuri7.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DogicaPixel';
  src: url('/font/dogicapixel.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DogicaPixel';
  src: url('/font/dogicapixelbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* 컬러 시스템 */
  --color-black: #111111;
  --color-white: #FFFFFF;
  --color-green: #BAEE2A;
  --color-green-press: #2E351E;
  --color-gray: #787878;
  --color-gray-press: #3B3B3B;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-galmuri: 'Galmuri9';
  --font-dogica-pixel: 'DogicaPixel';
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: DogicaPixel, Galmuri9, Galmuri7;
}

.font-galmuri {
  font-family: 'Galmuri9, Galmuri7';
}

.font-dogica-pixel {
  font-family: 'DogicaPixel';
}

/* 폰트 시스템 토큰 */
.T1_20_DB {
  font-size: 20px;
  font-family: 'DogicaPixel';
  font-weight: 700;
}

.T2_16_DB {
  font-size: 16px;
  font-family: 'DogicaPixel';
  font-weight: 700;
}

.T3_12_DB {
  font-size: 12px;
  font-family: 'DogicaPixel';
  font-weight: 700;
}

.T4_10_DB {
  font-size: 10px;
  font-family: 'DogicaPixel';
  font-weight: 700;
}

.B1_16_G9 {
  font-size: 16px;
  font-family: 'Galmuri9';
  font-weight: regular;
}

.B2_16_DR {
  font-size: 16px;
  font-family: 'DogicaPixel';
  font-weight: 400;
}

.B3_14_G9 {
  font-size: 14px;
  font-family: 'Galmuri9';
  font-weight: normal;
}

.C1_13_DR {
  font-size: 13px;
  font-family: 'DogicaPixel';
  font-weight: 400;
}

.C2_13_G7 {
  font-size: 13px;
  font-family: 'Galmuri7';
  font-weight: normal;
}

.C3_12_DR {
  font-size: 12px;
  font-family: 'DogicaPixel';
  font-weight: 400;
}

/* 컬러 시스템 클래스 */
.bg-black {
  background-color: var(--color-black);
}

.bg-white {
  background-color: var(--color-white);
}

.bg-green {
  background-color: var(--color-green);
}

.bg-green-press {
  background-color: var(--color-green-press);
}

.bg-gray {
  background-color: var(--color-gray);
}

.bg-gray-press {
  background-color: var(--color-gray-press);
}

.text-black {
  color: var(--color-black);
}

.text-white {
  color: var(--color-white);
}

.text-green {
  color: var(--color-green);
}

.text-green-press {
  color: var(--color-green-press);
}

.text-gray {
  color: var(--color-gray);
}

.text-gray-press {
  color: var(--color-gray-press);
}

.border-black {
  border-color: var(--color-black);
}

.border-white {
  border-color: var(--color-white);
}

.border-green {
  border-color: var(--color-green);
}

.border-green-press {
  border-color: var(--color-green-press);
}

.border-gray {
  border-color: var(--color-gray);
}

.border-gray-press {
  border-color: var(--color-gray-press);
}
